[Unit]
Description=Telegram Bot Manager - Bot Process
After=network.target botapi.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Telegram_Bot_Manager
Environment="PATH=/home/ubuntu/Telegram_Bot_Manager/venv/bin"
EnvironmentFile=/home/ubuntu/Telegram_Bot_Manager/.env
ExecStart=/home/ubuntu/Telegram_Bot_Manager/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
